<div class="container" style="margin-top: 70px;">
<div class="col-sm-8 offset-sm-2">
<div>
  <h1 *ngIf="idPrestataire==null">Inscription</h1>
  <h1 *ngIf="idPrestataire!=null">Mise à jour des informations</h1>

  <form id="form" name="form" [appMustMatch]="['password', 'password2']" (ngSubmit)="f.form.valid && onSubmit()" 
    #f="ngForm"  novalidate>

    <!-- visibilité des informations de connection suivant création/modification -->
    <div *ngIf="idPrestataire==null" id="div_identification" name="div_identification" class="form-group">

      <label for="email">Email</label>
      <input type="email" id="email" name="email"
      required email [(ngModel)]="prestataire.email"
      #email="ngModel"
      class="form-control" placeholder="Saisir email"
      [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
      >
      <div *ngIf="f.submitted && email.invalid" class="alert alert-danger">
        <div *ngIf="email?.errors.required">L'adresse email est obligatoire</div>
        <div *ngIf="email?.errors.email">L'adresse email n'est pas valide</div>
      </div>

      <!-- TODO vérification identifiant non déjà présent en base -->
      <label for="identifier">Identifiant</label>
      <input type="text" id="identifier" name="identifier"
        required minlength="2" pattern="[a-zA-Z0-9]*" [(ngModel)]="prestataire.login" 
        #identifier="ngModel"
        class="form-control" placeholder="Saisir identifiant"
      >
      <div *ngIf="f.submitted && identifier.invalid" class="alert alert-danger">
        <div *ngIf="identifier?.errors.required">L'identifiant est obligatoire</div>
        <div *ngIf="identifier?.errors.pattern">L'identifiant ne doit comporter que des lettres ou des chiffres</div>
        <div *ngIf="identifier?.errors.minlength">L'identifiant doit comporter au moins 2 caractères</div>
      </div>

      <label for="password">Mot de passe</label>
      <input type="password" id="password" name="password"
        required minlength="8" pattern="[a-zA-Z][a-zA-Z0-9_-]*" [(ngModel)]="prestataire.password" 
        #password="ngModel"
        class="form-control" placeholder="Saisir mot de passe"
      >
      <div *ngIf="f.submitted && password.invalid" class="alert alert-danger">
        <div *ngIf="password?.errors.required">Le mot de passe est obligatoire</div>
        <div *ngIf="password?.errors.pattern">Le mot de passe doit commencer par une lettre</div>
        <div *ngIf="password?.errors.pattern">Le mot de passe ne doit comporter que des lettres, des chiffres ou des soulignés et tirets</div>
        <div *ngIf="password?.errors.minlength">Le mot de passe doit comporter au moins 8 caractères</div>
      </div>

      <label for="password2">Confirmation mot de passe</label>
      <input type="password" id="password2" name="password2"
        required minlength="8" pattern="[a-zA-Z][a-zA-Z0-9_-]*" [(ngModel)]="password2" 
        #password2Txt="ngModel"
        class="form-control" placeholder="Saisir mot de passe" 
      >
      <div *ngIf="f.submitted && password2Txt.invalid" class="alert alert-danger">
        <div *ngIf="password2Txt?.errors.required">Le mot de passe est obligatoire</div>
        <div *ngIf="password2Txt?.errors.pattern">Le mot de passe doit commencer par une lettre</div>
        <div *ngIf="password2Txt?.errors.pattern">Le mot de passe ne doit comporter que des lettres, des chiffres ou des soulignés et tirets</div>
        <div *ngIf="password2Txt?.errors.minlength">Le mot de passe doit comporter au moins 8 caractères</div>
        <div *ngIf="password2Txt?.errors.appMustMatch">Les mots de passe ne sont pas identiques</div>
      </div>

    </div>
    
    <div class="form-group">

      <label for="prenom">Prénom</label>
      <input type="text" id="prenom" name="prenom"
        required minlength="2" pattern="[a-zA-Z][a-zA-Z -]*" appForbiddenName="toto" [(ngModel)]="prestataire.prenom" 
        #prenom="ngModel"
        class="form-control" placeholder="Saisir prénom"
      >
      <div *ngIf="f.submitted && prenom.invalid" class="alert alert-danger">
        <div *ngIf="prenom?.errors.required">Le prénom est obligatoire</div>
        <div *ngIf="prenom?.errors.pattern">Le prénom doit commencer par une lettre</div>
        <div *ngIf="prenom?.errors.pattern">Le prénom ne doit comporter que des lettres, des espaces et tirets</div>
        <div *ngIf="prenom?.errors.minlength">Le prénom doit comporter au moins 2 caractères</div>
        <div *ngIf="prenom?.errors.appForbiddenName">Le prénom toto n'est pas accepté</div>
      </div>
  
      <label for="nom">Nom</label>
      <input type="text" id="nom" name="nom"
        required minlength="2" pattern="[a-zA-Z][a-zA-Z -]*" appForbiddenName="toto" [(ngModel)]="prestataire.nom" 
        #nom="ngModel"
        class="form-control" placeholder="Saisir nom"
      >
      <div *ngIf="f.submitted && nom.invalid" class="alert alert-danger">
        <div *ngIf="nom?.errors.required">Le nom est obligatoire</div>
        <div *ngIf="nom?.errors.pattern">Le nom doit commencer par une lettre</div>
        <div *ngIf="nom?.errors.pattern">Le nom ne doit comporter que des lettres, des espaces et tirets</div>
        <div *ngIf="nom?.errors.minlength">Le nom doit comporter au moins 2 caractères</div>
        <div *ngIf="nom?.errors.appForbiddenName">Le nom toto n'est pas accepté</div>
      </div>

      <!-- date naissance non gérée complètement dans Kikatou -->
      <div  *ngIf="idPrestataire==null">
        <label for="date_naissance">Date de naissance</label>
        <div class="input-group">
          <input type="date" class="form-control"
                  name="dp_naissance" required [(ngModel)]="dateNaissance" ngbDatepicker 
                  #d_naissance="ngbDatepicker">
          <div *ngIf="f.submitted && d_naissance.invalid" class="alert alert-danger">
            <div *ngIf="d_naissance?.errors.required">La date de naissance est obligatoire</div>
          </div>
        </div>
      </div>

      <label for="tel_portable">Numéro de portable</label>
      <input type="text" id="tel_portable" name="tel_portable"
        required pattern="0[67][0-9]{8}" [(ngModel)]="prestataire.telPortable" 
        #telPortable="ngModel"
        class="form-control" placeholder="Saisir téléphone portable" 
      >
      <div *ngIf="f.submitted && telPortable.invalid" class="alert alert-danger">
        <div *ngIf="telPortable?.errors.required">Le téléphone portable est obligatoire</div>
        <div *ngIf="telPortable?.errors.pattern">Le téléphone portable doit comporter 10 chiffres et commencer par 06 ou 07</div>
      </div>

      <div  *ngIf="idPrestataire==null">
        <label for="tel_fixe">Numéro de téléphone</label>
        <input type="text" id="tel_fixe" name="tel_fixe"
          required pattern="0[1234589][0-9]{8}" [(ngModel)]="prestataire.telFixe" 
          #telFixe="ngModel"
          class="form-control" placeholder="Saisir téléphone fixe"   
        >

        <div *ngIf="f.submitted && telFixe.invalid" class="alert alert-danger">
          <div *ngIf="telFixe?.errors.required">Le téléphone fix est obligatoire</div>
          <div *ngIf="telFixe?.errors.pattern">Le téléphone fixe doit comporter 10 chiffres et ne pas commencer par 06 ou 07</div>
        </div>
      </div>

      <div  *ngIf="idPrestataire==null">
        <label for="adresse">Adresse</label>
        <input type="text" id="adresse" name="adresse"
          required [(ngModel)]="prestataire.adresse" 
          #adresse="ngModel"
          class="form-control" placeholder="Saisir adresse"   
        >
        <div *ngIf="f.submitted && adresse.invalid" class="alert alert-danger">
          <div *ngIf="adresse?.errors.required">L'adresse est obligatoire</div>
        </div>

        <label for="code_postal">Code postal</label>
        <input type="text" id="code_postal" name="code_postal"
          required pattern="[0-9]{5}" [(ngModel)]="prestataire.codePostal" 
          #codePostal="ngModel"
          class="form-control" placeholder="Saisir code postal"  
        >
        <div *ngIf="f.submitted && codePostal.invalid" class="alert alert-danger">
          <div *ngIf="codePostal?.errors.required">Le code postal est obligatoire</div>
          <div *ngIf="codePostal?.errors.pattern">Le code postal doit comporter 5 chiffres</div>
        </div>

        <label for="ville">Ville</label>
        <input type="text" id="ville" name="ville"
          required pattern="[a-zA-Z \-_/\\]*" [(ngModel)]="prestataire.ville" 
          #ville="ngModel"
          class="form-control" placeholder="Saisir ville"   
        >
        <div *ngIf="f.submitted && ville.invalid" class="alert alert-danger">
          <div *ngIf="ville?.errors.required">La ville est obligatoire</div>
          <div *ngIf="ville?.errors.pattern">La ville ne doit comporter que des lettres ou les caractères -, _, /, \</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="typePrestation">Type de prestation</label><br>     
      <select id="typePrestation" name="typePrestation"
        required [(ngModel)]="prestataire.typePrestation"
        class="form-control">
        <option *ngFor="let typePrestation of typesPrestations" 
            [value]="typePrestation.id" 
            [selected]="typePrestation.id === prestataire.typePrestation ? true : null">
          {{typePrestation.libelle}}
        </option>
      </select>

      <label for="description">Description</label>
      <input type="text" id="description" name="description"
        required [(ngModel)]="prestataire.description" 
        #description="ngModel"
        class="form-control" placeholder="Saisir description"   
      >
      <div *ngIf="f.submitted && description.invalid" class="alert alert-danger">
        <div *ngIf="description?.errors.required">La description est obligatoire</div>
      </div>

      <label for="taux_horaire">Taux horaire</label>
      <input type="number" id="taux_horaire" name="taux_horaire"
        required min=0 max=1000 pattern="\d{1,3}\.?\d{0,2}" [(ngModel)]="prestataire.tauxHoraire" 
        #tauxHoraire="ngModel"
        class="form-control" placeholder="Saisir taux horaire"  
      >
      <div *ngIf="f.submitted && tauxHoraire.invalid" class="alert alert-danger">
        <div *ngIf="tauxHoraire?.errors.required">Le taux horaire est obligatoire</div>
        <div *ngIf="tauxHoraire?.errors.number">Le taux horaire doit être numérique</div>
        <div *ngIf="tauxHoraire?.errors.pattern">Le taux horaire est limité à 3 entiers et 2 décimales</div>
      </div>

      <!-- TODO voir upload photo -->
      <label for="photo">Photo</label>
      <input type="text" id="photo" name="photo"
        pattern="[a-zA-Z\-_]*.(jpg|jpeg|png)" [(ngModel)]="prestataire.photo" 
        #photo="ngModel"
        class="form-control"   
      >
      <div *ngIf="f.submitted && photo.invalid" class="alert alert-danger">
        <div *ngIf="photo?.errors.required">La photo est obligatoire</div>
        <div *ngIf="photo?.errors.pattern">La photo doit être au format .jpg ou .jpeg ou .png</div>
      </div>

      <!-- TODO afficher l'erreur required date début dispo -->
      <label for="date_deb_dispo">Date début disponibilité</label>
      <div class="input-group">
        <input type="date" class="form-control"
                name="date_deb_dispo" required [(ngModel)]="dateInscription" ngbDatepicker 
                #date_deb_dispo="ngbDatepicker">
        <div *ngIf="f.submitted && date_deb_dispo.invalid" class="alert alert-danger">
          <div *ngIf="date_deb_dispo?.errors.required">La date de début disponibilité est obligatoire</div>
        </div>
      </div>

      <!-- visibilité de Date début indisponibilité (non gérée dans Kikatou) suivant création/modification -->
      <div *ngIf="idPrestataire!=null && false" id='div_deb_indispo' name='div_deb_indispo'>        
        <label for="date_deb_indispo">Date début indisponibilité</label>
        <div class="input-group">
          <input type="date" class="form-control"
                  name="dp_deb_indispo" [(ngModel)]="dateDesinscription" ngbDatepicker 
                  #d_deb_indispo="ngbDatepicker">
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Valider</button>

    <div>
      <label>{{errorMessage}}</label>
    </div>

  </form>

</div>
</div>
</div>
