<div class="col-sm-8 offset-sm-2">
<div style="text-align:center">
  <h1>
    GESTION DES PRESTATAIRES KIKATOU
  </h1>
  <img width="100" alt="Logo Kikatou" src="/assets/images/logo.png">

  <button class="btn btn-primary" (click)="navHome()" >Accueil</button>
  <button class="btn btn-primary" (click)="navAgenda()" >Agenda</button>
  <button class="btn btn-primary" (click)="navInformations()" >Informatitons</button>
  <button class="btn btn-primary" (click)="deconnexion()" >Deconnexion</button>

  <h3>{{prenomPrestataire}} {{nomPrestataire}}</h3>

</div>

<router-outlet></router-outlet>
</div>
