<div class="container" style="margin-top: 70px;">
<div class="col-sm-8 offset-sm-2">
<div>
  <h1>Connexion</h1>

  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="identifier">Identifiant</label>
      <input type="text" id="identifier" name="identifier"
      required [(ngModel)]="credentials.identifier" 
      class="form-control" placeholder="Saisir identifiant"
      >

      <label for="password">Mot de passe</label>
      <input type="password" id="password" name="password"
        required [(ngModel)]="credentials.password" 
        class="form-control" placeholder="Saisir mot de passe"
      >
    </div>
    
    <div>
      <a id="link-inscription" href="/informations">pas inscrit</a>
    </div>

    <button type="submit" class="btn btn-primary">Valider</button>
    
    <!-- TODO styler les messages d'erreur -->
    <div>
      <label>{{errorMessage}}</label>
    </div>

  </form>

</div>
</div>
</div>